@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    src: local('Roboto'), local('Roboto-Regular'), url('../fonts/Roboto-Regular.ttf') format('ttf');
    unicode-range: U+0460-052F, U+20B4, U+2DE0-2DFF, U+A640-A69F;
}

body {
    top: 0;
    left: 0;
    font-family: 'Roboto', sans-serif;
    color: #1A262B;
    background-color: #efefef;
    box-sizing: border-box;
}

.bg-primary-dark{
    background-color: #1A262B;
}

.rounded-8{
    border-radius: 8px;
}

.bg-main-color{
    background-color: #1A262B;
}

.shadow-main{
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.25);
}

.vertical-separator{
    border-left: 1px solid white;
    height: 40px;
}

.truncate-paragraph{
    
    /**Major Properties**/
    overflow:hidden;
    -webkit-box-orient: vertical;
    display: block;
    display: -webkit-box;
    overflow: hidden !important;
    text-overflow: ellipsis;
    line-clamp: 2;
    -webkit-line-clamp: 2;
}