@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    src: local('Roboto'), local('Roboto-Regular'), url('../fonts/Roboto-Regular.ttf') format('ttf');
    unicode-range: U+0460-052F, U+20B4, U+2DE0-2DFF, U+A640-A69F;
}

body {
    height: 100%;
    margin: 0;
    top: 0;
    left: 0;
    font-family: 'Roboto', sans-serif;
    font-size: 12px;
    background-color: #efefef;
    box-sizing: border-box;
}


a {
    color: inherit; 
    text-decoration: inherit; 
}

a, a:hover, a:focus, a:active {
    text-decoration: none;
    color: inherit;
}

.bg-primary-dark{
    background-color: #0F2027;
}

.rounded-8{
    border-radius: 8px;
}

.bg-main-color{
    background-color: #0F2027;
}

.text-main-color{
    color: #0F2027;
}

.shadow-main{
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.25);
}

.vertical-separator{
    border-left: 1px solid white;
    height: 40px;
}

.truncate-paragraph{
    -webkit-box-orient: vertical;
    display: block;
    display: -webkit-box;
    overflow: hidden !important;
    text-overflow: ellipsis;
    line-clamp: 2;
    -webkit-line-clamp: 2;
}

.text-12{
    font-size: 12px;
}

.text-16{
    font-size: 16px;
}

.text-20{
    font-size: 20px;
}

.text-24{
    font-size: 24px;
}

.text-28{
    font-size: 28px;
}

.text-32{
    font-size: 32px;
}

.text-36{
    font-size: 36px;
}

.text-40{
    font-size: 40px;
}
